<html>

<head>
    <!--<script src="sqlite_dal.js"></script>-->
    <link href="style.css" rel="stylesheet">
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body onload="FlagsOk()">
    <h1>
        Sito Proverbi Quiz - Acchiappali tutti
    </h1>
    <div class="navigation">
        <a href="/">Home</a>
        <a href="./aboutus"> Chi siamo? </a>
        <a href="./proverbi?thispage=1&start=0&end=10"> Visualizza Proverbi Vinti </a>
    </div>
    <div class="leftcolumn">
        <p>
            Stai visitando il sito come:
        </p>
        <p style="padding-bottom: 100%;">
            <%= username %>
        </p>
        </br>
    </div>

    <div class="content">

    </div>
    <div class="rightcolumn">
        <p>
            Contattaci
        </p>
        <p>
            Mail: pippo.marrese@gmail.com Telefono: +39 123 434 3779
        </p>
        <p style="padding-bottom: 120%;">
            Ci Trovi a: Via dei matti n.0, Domodossola (la citt&agrave; della D).
        </p>

    </div>
    <div style="clear: both;"></div>
    <div class="footer">

        &copy; Copyright 2021

    </div>
</body>

</html>